body {
    background-image: url("./bilder/image-24.jpg");
    background-attachment: fixed;
    background-size: cover;
}
h1 {
    font: 70px serif;
    color: white;
    font-style: italic;
    text-transform: uppercase;
    margin-left: 100px;
}
h2 {
    font: 20px serif;
    color: white;
    font-style: italic;
    text-shadow: 2px 2px 0 #000000;
    margin-left: 100px;
}
p {
    font: 20px serif;
    color: white;
    font-style: italic;
    background-color: #13447ca8;
    width: 550px;
    padding: 30px;
    margin-left: 100px;
    border : 3px solid #15467ecf;
    border-radius: 5px;
}
a {

}
img {
    margin-left: 100px;
    width: 100px;
}